body{
    background-color:#1a202c ;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
  

}
.nav-links{
    margin: 1rem 0;
    display: flex;
    
    
}

.nav-link,.nav-title{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 1rem 0;
    text-transform: capitalize;
    
}

.nav-link{
    padding: 0 1rem;
}
span{
    color: #f56565;
}
.about-container{
    margin: 4rem auto;
    padding: 1rem 0;
    background-color:#f2f2f2 ;
    color: #000;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px #f2f2f2;
}
.md{
    margin: 0 auto;
    display: block;
    padding: 1rem 0;
    height: auto;
    max-width: 50%;
    border-radius: 50%;
}
.title,.detailes{
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}


.descraption{
    text-align: justify;
    padding: 0 1rem;
}
.social-image{
    width: 30px;
    height: 30x;
    margin: 0 2rem;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.research-interes-container{
    padding: 1rem;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
}
.institution-items-container{
    display: flex;
}
.institution-items{

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.institution-image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: rgba(196,196, 196/30%) 0px 5px 15px;

}
.institution-image:hover{
    background-color: #f2f2f2;
}
.institution-name,.degree-name{
    text-align: center;
    font-size: 15px;
    line-height: 22px;
}
.experiences-container{
    padding: 1rem;
}
.experiences-item{
    padding-top: 10px;
    text-transform: capitalize;
}
li{
    list-style: square;
    margin: 0.8rem 0;
}
.skills-container{
    background-color: #f2f2f2;
    color: black;
    margin:4rem auto;
    padding: 2rem 0;
    border-radius: 15px;
    box-shadow: 0 2px 2px 2px #f2f2f2;
}
.skills-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    color:#102940;

}
li{
    text-transform: capitalize;
}
#course-table{
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0;
    cursor: pointer;
}
#course-table td, #course-table th{
    border: 1px solid #ddd;
    padding:8px ;
    text-align: center;
    text-transform:capitalize ;

}
#course-table th{
    background-color: #f56565;
    color: #102940;
    padding: 12px;
    
}
#course-table tbody:nth-child(even){
    background-color: #5885af;
    font-weight: 700;
    color: black;

}
#course-table tr:hover{
    background-color: #274472;
    color: white;
}
a{
    text-decoration: none;
    color: #fff;
}







@media(min-width:1200px){
    .container{
        max-width: 1180px;
    }
}
@media(min-width:992px){
    .container{
        max-width:960px ;
    }
}
@media(max-width:768px){
    .container{
        max-width:720px ;
    }
}
@media(max-width:576px){
    .container{
        max-width: 540px;
    }
}